@font-face {
    font-family: 'ggroboto';
    font-weight: normal;
    src: url('fonts/Roboto-Medium.ttf') url('fonts/Roboto-MediumItalic.ttf') ;
}

@font-face {
    font-family: 'ggroboto';
    font-weight: bold;
    src: url('fonts/Roboto-Bold.ttf') url('fonts/Roboto-BoldItalic.ttf')  ;
}


@font-face {
    font-family: 'ggroboto';
    font-weight: lighter;
    src: url('fonts/Roboto-Light.ttf') url('fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'ggroboto';
    font-weight: lighter;
    src: url('fonts/Roboto-Light.ttf');
}


body,html {
    position:absolute;
    float:left;
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    overflow:hidden;
    font-family: "ggroboto";  
}



* {
-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
-webkit-tap-highlight-color: transparent  !important;
}

*:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
}

a:active {
    background-color:none !important;
}

div {
-webkit-overflow-scrolling: touch;   
}


* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

textarea:focus, input:focus{
    outline: none;
}



textarea,input[type=text] {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -o-user-select: text;
}


::-webkit-scrollbar {
    width: 5px;
    left:1px;
    margin-left:1px;
    display:block;
    position:absolute;
    background: #dddddd !important;
}

::-webkit-scrollbar:hover {
    width: 10px !important;
    display:block;
    position:absolute;
}


::-webkit-scrollbar-track {
    border-radius: 3px;
    position:absolute;
    right:0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
}




::-webkit-scrollbar:horizontal {
    height: 8px;
}


.hideScrollbar::-webkit-scrollbar {
    background: transparent !important;
    display:none !important;
}

.transparentScrollBar::-webkit-scrollbar {
    background: transparent !important;
}

.scroll_bar_thin::-webkit-scrollbar {
   width:2px !important;
}