


@-webkit-keyframes scaleOpen95 {
    from {
        -webkit-transform: scale(0.95);
        opacity: 0;
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale_in_95 {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale_in_95 {
    from {  
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes scale_out_95 {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(0.95);
        opacity: 0;
    }
}


@keyframes scale_out_95 {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.95);
        opacity: 0;
    }
}



.dialog_in{
    animation-name: scale_in_95;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,0.2,0.1,1);
    -webkit-animation-name: scale_in_95;
    -webkit-animation-duration: .4s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function:  cubic-bezier(0,0.2,0.1,1);
}

.dialog_out{
    animation-name: scale_out_95;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: "ease-in";
    -webkit-animation-name: scale_out_95;
    -webkit-animation-duration: .2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: "ease-out";
}

.scale_out_95{
    animation-name: scale_out_95;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: "ease-in";
    -webkit-animation-name: scale_out_95;
    -webkit-animation-duration: .2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: "ease-out";
}

.anim_click::before{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    content: " ";
    background: rgba(0,0,0,0.05 );
}


@-webkit-keyframes loading-view {
   
    0% {
        -webkit-transform: translateX(0%);
        opacity: 0;
    }

    20% {
        -webkit-transform: translateX(30%);
        opacity: 1;
    }

    80% {
        -webkit-transform: translateX(70%);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes loading-view {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }

    20% {
        transform: translateX(30%);
        opacity: 1;
    }

    80% {
        transform: translateX(70%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.anim-loading-view{
    animation-name: loading-view;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: loading-view;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function:  linear;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
}

.anim-loading-view::before{
    content:'\25CF';
    font-size: 1.5em;
}